db/*.sqlite3*
*.log
tmp/**/*
doc/api
doc/app
.*.sw[a-z]
*.un~
Session.vim
*~
.DS_Store
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
config/*.yml
rerun.txt
pickle-email-*.html
